/*                          dropdown                            */
.dropdown {
  position: relative;
  display: inline-block;
  padding: 5px 0;
}
.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: $main;
  color: $white;
  text-align: center;
  min-width: 140px;
  width: 100%;
  border-radius: 10px;
  z-index: 300;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 12px;
  transition: all 0.3s ease-in-out;
}
.dropdown-content a {
  color: $text;
  padding: 8px 10px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $hover;
  }
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
.dropdown-ancor {
  @include flexCenter;
  gap: 4px;
  color: $text;
  @include tr;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  @include max-991 {
    font-size: 12px;
  }
  i {
    font-size: 16px;
    @include max-991 {
      font-size: 14px;
    }
    &:nth-of-type(2) {
      font-size: 14px;
    }
  }
  &:hover {
    color: $main;
  }
}
.upper-header {
  padding: 21px 0;
  border-bottom: 1px solid rgba(221, 217, 212, 0.6);
}
html[dir="ltr"] .icon-dir {
  display: inline-block;
  transform: scaleX(-1);
}
.upper-cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  @include max-991 {
    gap: 20px;
    flex-wrap: wrap;
  }
}
.upper-icon-cont {
  display: flex;
  align-items: center;
  gap: 16px;
  .dropdown {
    padding-inline-end: 16px;
    border-inline-end: 1px solid rgba(255, 255, 255, 0.5);
    @include max-991 {
      padding-inline-end: 12px;
    }
  }
  @include max-991 {
    gap: 12px;
  }
}
/*top header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  background-color: $back;
  transition: all 0.3s ease-in-out;
}
.internal-body header {
  background-color: transparent;
}
.top-header a {
  text-decoration: none;
}
.show-icons {
  display: none;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 16px 0;
  transition: all 0.3s ease-in-out;
}
.big-menu li a {
  color: $main;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 0;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  &.active {
    border-bottom: 3px solid $main;
    font-weight: 800;
    &:hover {
      border-color: $text;
    }
  }
  &:hover {
    color: $text;
  }
}

.nav-header .big-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 60px;
}
.fixed-nav {
  background-color: $back;
  margin-top: -200px;
  transition: all 0.3s ease-in-out;
}
.fixed-header {
  position: fixed;
}
.fixed-header .fixed-nav {
  margin: 0;
}
.fixed-nav .nav-header figure img {
  max-width: 75px;
  width: 75px;
  max-height: 40px;
  transition: all 0.3s ease-in-out;
}
.nav-header figure {
  margin: 0;
}
.nav-header figure img {
  max-width: 75px;
  width: 75px;
  max-height: 40px;
  transition: all 0.3s ease-in-out;
}

.nav-head {
  height: 38px;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.contact-link {
  width: 108px;
  height: 32px;
  // padding: 22px 0;
  border-radius: 16px;
  text-transform: capitalize;
  @include flexCenter;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  border: 1px solid $text;
  color: $text;
  background-color: transparent;
  @include tr;
  outline: none !important;
  text-decoration: none;
}
@media (hover: hover) {
  .contact-link:hover {
    text-decoration: none;
    color: $text;
    background-color: $main;
    border-color: $main;
  }
}
.search-section {
  position: relative;
  min-width: 27%;
}
.search-input {
  position: relative;
  background-color: transparent;
  max-width: 100%;
  width: 100%;
  height: 39px;
  padding: 0 25px;
  padding-inline-start: 65px;
  font-size: 14px;
  color: $main;
  font-weight: 400;
  border-radius: 20px;
  border: 2px solid $main;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.search-input:focus {
  outline: none;
  border-color: $text;
}
.search-input::placeholder {
  color: $main;
}
.search-button {
  position: absolute;
  top: 50%;
  inset-inline-start: 22px;
  border-radius: 50%;
  transform: translateY(-50%);
  @include flexCenter;
  color: $main;
  background-color: transparent;
  border: none;
  outline: none !important;
  font-size: 17px;
  padding: 0;
  @include tr;
}
.search-button:hover {
  color: $text;
}
.open-search-btn {
  background-color: transparent;
  border: none;
  outline: none !important;
  @include tr;
  font-size: 20px;
  color: $main;
  &:hover {
    color: $text;
  }
  &.active {
    i::before {
      content: "\eb93";
    }
  }
}
/*                          header section                     */
/*                    menu in phone size                      */
@media (min-width: 992px) and (max-width: 1199px) {
  .nav-header .big-menu {
    gap: 15px;
  }
  .big-menu li a {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .hide-sm {
    display: none;
  }
  .show-icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .search-section {
    display: none;
    width: 100%;
    order: 3;
    margin-top: 15px;
    form {
      width: 100%;
      position: relative;
    }
  }
  .nav-header {
    flex-wrap: wrap;
  }
  .fixed-nav .nav-header,
  .nav-header {
    padding: 20px 0;
  }
  .menu-bars {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: $main;
    border: none;
    outline: none !important;
    transition: all 0.3s ease-in-out;
  }
  .menu-bars:hover {
    color: $text;
  }
  .navgition {
    display: block;
    position: fixed;
    padding: 30px 20px;
    padding-top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    clip-path: circle(10.9% at 16% 16%);
    background-color: $back;
    transition: 0.4s;
    z-index: 200;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  html[dir="ltr"] .navgition {
    clip-path: circle(11.2% at 86% 14%);
  }
  .reset-left {
    left: 0;
    top: 0;
    clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
  }
  html[dir="ltr"] .reset-left {
    clip-path: circle(121.2% at 86% 14%);
  }
  /*hamburger menu*/
  .show-icons .menu-bars {
    position: relative;
    z-index: 2;
    width: 20px;
    font-size: 20px;
    color: $main;
    display: flex;
    align-items: center;
    outline: none !important;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
  }
  .nav-head {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 0 0;
    .close-menu {
      font-size: 28px;
      color: $main;
      display: flex;
      align-items: center;
      outline: none !important;
      background-color: transparent;
      border: none;
      transition: all 0.3s ease-in-out;
    }
  }
  /* .fixed-nav .nav-head{
    padding: 15px 0 10px;
  } */
  .nav-header .big-menu {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px 0;
    gap: 30px;
  }
  .nav-header li a {
    font-size: 18px;
  }
  /*                    menu in phone size                      */
}
@media (min-width: 991px) {
  .hide-big {
    display: none;
  }
}
/*                                    media query                                    */
