/*                            main                           */
.main {
  position: relative;
  // overflow: hidden;
  // min-height: calc(100vh - 163px);
  margin-bottom: 100px;
  margin-top: 140px;
  @include max-991 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
.main-cont {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  @include max-991 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
}
.main-caption {
  text-align: start;
  width: 100%;
  overflow: hidden;
  @include max-991 {
    text-align: center;
  }
}
.main-welcome {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  color: $main;
  margin-bottom: 20px;
  padding: 0 10px;
  width: max-content;
  @include max-991 {
    margin: 0 auto 20px;
  }
  img {
    position: relative;
    max-width: 30px;
    html[dir="ltr"] & {
      transform: scaleX(-1);
    }
  }
  .text-before {
    position: absolute;
    inset-inline-start: 0px;
    bottom: -4px;
  }
  .text-after {
    position: absolute;
    inset-inline-end: 0px;
    top: -4px;
  }
}
.main-text {
  font-weight: 400;
  font-size: 20px;
  color: $text;
  margin-bottom: 30px;
}
.main-p {
  font-weight: 700;
  color: $text;
  line-height: 96px;
  box-shadow: 0px 0px 20px 6px rgba(38, 40, 42, 0.15);
  @include min-1440 {
    font-size: 64px;
  }
  font-size: 54px;
  @include max-991 {
    font-size: 42px;
    max-width: 100%;
    line-height: 74px;
  }
}
.main-btn {
  @include flexCenter;
  @include tr;
  width: max-content;
  padding: 0 37px;
  height: 69px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 24px;
  margin-inline-start: 10px;
  margin-bottom: 10px;
  color: $text;
  background-color: $main;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  position: relative;
  border: 1px solid $main;
  box-shadow: 0 0 0 0 rgba(152, 122, 84, 1);
  -moz-animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  @include max-991 {
    margin: 0 auto 20px;
  }
  &:hover {
    text-decoration: none;
    color: $main;
    border-color: $text;
    -webkit-animation: none;
    background-color: transparent;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(152, 122, 84, 1);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(152, 122, 84, 0);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(152, 122, 84, 0);
  }
}

.main-video-cont {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main-video-cont video {
  width: 100%;
  object-fit: cover;
}
.main-img-cont {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.main .main-img {
  @include flexCenter;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  position: relative;
  aspect-ratio: 1;
  img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
.main-logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 55px;
  max-height: 100px;
}
.main-img-content {
  position: absolute;
  bottom: 37px;
  left: 37px;
  right: 37px;
  background: rgba(53, 49, 44, 0.6);
  padding: 30px 65px;
  text-align: center;
  @include max-1200 {
    padding: 30px 20px;
  }
  @include max-767 {
    padding: 30px 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
}
.main-head {
  font-weight: 800;
  font-size: 34px;
  color: $white;
  line-height: 51px;
  margin-bottom: 14px;
  @include max-1200 {
    font-size: 24px;
    line-height: unset;
  }
}
.main-title {
  font-weight: 400;
  font-size: 34px;
  color: $white;
  line-height: 51px;
  margin-bottom: 0;
  @include max-1200 {
    font-size: 24px;
    line-height: unset;
  }
  span {
    font-weight: 800;
  }
}
// .main .main-img::after {
//   content: "";
//   position: absolute;
//   inset: 0;
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(
//     180deg,
//     rgba(28, 27, 27, 0) 34.9%,
//     rgba(28, 27, 27, 0.8) 73.96%,
//     #1c1b1b 93.92%
//   );
//   z-index: 1;
// }

/*                          main                         */
/*                       about                           */
.section-head {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 22px;
  figure {
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.head-cont {
  display: flex;
  align-items: center;
  gap: 8px;
}
.head-num {
  font-size: 64px;
  font-weight: 700;
  line-height: 94px;
  color: $main;
  @include max-767 {
    font-size: 58;
  }
}
.head-text {
  font-size: 40px;
  font-weight: 700;
  color: $main;
  padding-top: 10px;
  @include max-767 {
    font-size: 26px;
  }
}
.about-section {
  margin-bottom: 150px;
  @include max-991 {
    margin-bottom: 60px;
  }
}
.about-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  @include max-991 {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
.about-content {
  text-align: start;
  padding-top: 60px;
  @include max-991 {
    padding-top: 0;
  }
}
.about-title {
  font-size: 36px;
  font-weight: 800;
  color: $main;
  margin-bottom: 30px;
  img {
    display: block;
    margin-bottom: 5px;
    html[dir="ltr"] & {
      transform: scaleX(-1);
    }
  }
  .text-start {
    padding-inline-start: 50px;
    display: block;
    text-align: start;
    line-height: 48.6px;
    @include max-991 {
      padding: 0;
    }
  }
  .text-end {
    display: block;
    text-align: end;
    line-height: 48.6px;
  }
  @include max-991 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.about-head {
  font-weight: 700;
  font-size: 24px;
  color: $main;
  margin-bottom: 15px;
}
.about-pargh {
  font-weight: 400;
  font-size: 24px;
  color: $text;
  line-height: 36px;
  margin-bottom: 50px;
  @include max-991 {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.about-text {
  font-weight: 400;
  font-size: 20px;
  color: $text;
  line-height: 30px;
  margin-bottom: 30px;
  @include max-991 {
    font-size: 16px;
  }
}
.about-img {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  aspect-ratio: 535 / 611;
  max-width: 100%;
  img {
    height: 100%;
    width: 100%;
  }
}
.about-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 30px;
  }
  .about-text {
    margin-bottom: 0;
  }
  figure {
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    margin-top: 3px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
/*                       about                           */
/*                       present-section                           */
.present-section {
  margin-bottom: 150px;
  @include max-991 {
    margin-bottom: 60px;
  }
}
.present-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 15px;
    @include max-991 {
      align-items: flex-start;
    }
    figure {
      width: 26px;
      height: 26px;
      flex-shrink: 0;
      img {
        max-width: 100%;
      }
    }
  }
}
.present-text {
  font-weight: 700;
  font-size: 18px;
  color: $main;
  margin: 0;
  @include max-991 {
    font-size: 16px;
  }
}
.present-pargh {
  font-weight: 400;
  font-size: 24px;
  color: $text;
  margin-bottom: 50px;
  @include max-991 {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.present-join-cont {
  display: flex;
  align-items: center;
  gap: 30px;
  @include max-991 {
    flex-wrap: wrap;
  }
  figure {
    max-width: 100%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .main-btn {
    margin: 0;
  }
}
.join-flex {
  display: flex;
  align-items: center;
  gap: 15px;
  @include max-991 {
    flex-wrap: wrap;
  }
}
.join-text {
  font-weight: 700;
  font-size: 18px;
  color: $white;
  margin: 0;
  @include max-991 {
    font-size: 14px;
  }
}
/*                       present-section                           */
/*                       work-section                           */
.work-section {
  margin-bottom: 250px;
  @include max-991 {
    margin-bottom: 60px;
  }
}
.work-text {
  font-weight: 400;
  font-size: 24px;
  color: $text;
  margin-bottom: 70px;
  @include max-991 {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
.work-cont {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include max-991 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: 1fr;
  }
}
.work-bg {
  position: absolute;
  z-index: -1;
  inset-inline-end: 7.4%;
  @include max-991 {
    display: none;
  }
  html[dir="ltr"] & {
    transform: scaleX(-1);
  }
}
.work-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #362c27;
  border-radius: 18px;
  padding: 38px 27px 25px;
  min-height: 286px;
  width: 194px;
  max-width: 100%;
  @include max-991 {
    width: 100%;
    overflow: hidden;
    padding: 38px 20px 25px;
    height: 100%;
  }
  figure {
    width: 47px;
    height: 47px;
    max-width: 100%;
    margin-bottom: 20px;
    img {
      max-width: 100%;
      min-height: 100%;
    }
  }
}
.work-item:nth-of-type(2n) {
  margin-top: 132px;
  @include max-991 {
    margin: 0;
  }
}
.work-item:last-child {
  background-color: $main;
}
.work-head {
  font-weight: 700;
  font-size: 20px;
  color: $text;
  @include max-991 {
    font-size: 18px;
  }
}
.work-pargh {
  font-weight: 400;
  font-size: 14px;
  color: $text;
  margin: 0;
}
/*                       work-section                           */
/*                       benefits-section                           */
.benefits-section {
  margin-bottom: 250px;
  @include max-991 {
    margin-bottom: 60px;
  }
}
.benefits-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
  @include max-991 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.benefits-item {
  width: 100%;
  max-width: 308px;
  overflow: hidden;
  text-align: start;
  &:last-of-type {
    margin: 0 auto;
  }
}
.benefits-num {
  font-weight: 800;
  font-size: 48px;
  color: $text;
  margin-bottom: 10px;
  padding-inline-start: 35px;
  @include max-991 {
    padding-inline-start: 20px;
    font-size: 40px;
  }
}
.benefits-box {
  background-color: #362c27;
  height: 126px;
  @include flexCenter;
  gap: 25px;
  margin-bottom: 20px;
  border-radius: 63px;
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
  text-align: start;
  @include max-991 {
    gap: 15px;
    height: 100px;
  }
  figure {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    @include max-767 {
      width: 30px;
      height: 30px;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.benefits-text {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  color: $text;
  margin: 0;
  max-width: 124px;
  text-align: center;
  text-transform: capitalize;
  @include max-991 {
    font-size: 16px;
    line-height: normal;
  }
}
.benefits-pargh {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $white;
  padding-inline-start: 35px;
  @include max-991 {
    font-size: 14px;
    padding-inline-start: 20px;
  }
}
/*                       benefits-section                           */
/*                       fields-section                           */
.fields-section {
  margin-bottom: 200px;
  @include max-991 {
    margin-bottom: 60px;
  }
}
.section-header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 10px;
  .section-head {
    margin-bottom: 0;
  }
}
.swiper-cont {
  position: relative;
  padding-inline-start: 20px;
}
@media (min-width: 576px) {
  .swiper-cont {
    padding-inline-start: calc((100vw - 540px) / 2);
  }
}
@media (min-width: 768px) {
  .swiper-cont {
    padding-inline-start: calc((100vw - 720px) / 2);
  }
}
.swiper-cont {
  @include min-992 {
    padding-inline-start: calc((100vw - 960px) / 2);
  }
  @include min-1200 {
    padding-inline-start: calc((100vw - 1170px) / 2);
  }
  @include min-1440 {
    padding-inline-start: calc((100vw - 1320px) / 2);
  }
}

.fields-slider {
  position: relative;
  margin-bottom: 50px;
}
.swiper-btn-cont {
  display: flex;
  align-items: center;
  gap: 15px;
}
.swiper-btn-cont .swiper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: $text;
  transition: all 0.3s ease-in-out;
  html[dir="ltr"] & {
    transform: scaleX(-1);
  }
  i {
    z-index: 2;
  }
  &:hover {
    color: $main;
  }
}
.fields-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  background-color: #362c27;
  border-radius: 18px;
  width: 100%;
  padding: 28px 22px;
  height: 100%;
  figure {
    width: 47px;
    height: 47px;
    flex-shrink: 0;
    margin-bottom: 10px;
    img {
      max-width: 100%;
      min-height: 100%;
    }
  }
}
.fields-name {
  font-weight: 700;
  font-size: 20px;
  color: $text;
  margin-bottom: 19px;
  @include max-767 {
    font-size: 16px;
    min-height: 38.38px;
    margin-bottom: 15px;
  }
}
.fields-pargh {
  font-weight: 400;
  font-size: 14px;
  color: $text;
  margin-bottom: 19px;
  height: 105px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  @include max-767 {
    -webkit-line-clamp: 3;
    height: 63px;
  }
}
.show-ancor {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $main;
  font-weight: 700;
  font-size: 12px;
  @include tr;
  text-decoration: none;
  i {
    font-size: 16px;
    html[dir="ltr"] & {
      display: inline-block;
      transform: scaleX(-1);
    }
  }
  &:hover {
    color: $text;
  }
}
.fields-text {
  font-weight: 400;
  font-size: 20px;
  color: $text;
  margin-bottom: 50px;
  @include max-991 {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.custom-ancor {
  @include flexCenter;
  @include tr;
  height: 43px;
  border-radius: 22px;
  margin: 0 auto;
  width: max-content;
  padding: 0 18px;
  border: 2px solid $main;
  color: $main;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  &:hover {
    background-color: $main;
    color: $text;
  }
}
/*                       fields-section                           */
/*                       blog-section                           */
.blog-section {
  margin-bottom: 250px;
  @include max-991 {
    margin-bottom: 60px;
  }
}
.blog-slider {
  position: relative;
  margin-bottom: 80px;
}
.blog-item {
  position: relative;
  overflow: hidden;
  .hint {
    height: 34px;
    border-radius: 16px;
    width: max-content;
    @include flexCenter;
    font-weight: 400;
    font-size: 13px;
    color: $white;
    padding: 0 10px;
    position: absolute;
    top: 11px;
    inset-inline-start: 11px;
    background: linear-gradient(0deg, rgba(7, 8, 9, 0.6), rgba(7, 8, 9, 0.6)),
      linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  }
  figure {
    position: relative;
    overflow: hidden;
    aspect-ratio: 420/259;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
    }
  }
  &:hover img {
    transform: scale(1.02);
  }
}
.blog-content {
  padding: 15px 6px;
}
.blog-name {
  font-weight: 700;
  font-size: 24px;
  color: $text;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 34px;
  @include max-767 {
    font-size: 18px;
    height: 23px;
  }
}
.blog-pargh {
  font-weight: 400;
  font-size: 14px;
  color: $text;
  margin-bottom: 19px;
  height: 105px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 64px;
}
/*                       blog-section                           */
/*                       gallery-section                           */
.gallery-section {
  margin-bottom: 132px;
  @include max-991 {
    margin-bottom: 60px;
  }
}
.gallery-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 60px;
  @include max-991 {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }
}
.gallery-item {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 87.94%
    );
  }
  figure {
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
    }
  }
  &:hover img {
    transform: scale(1.05);
  }
}
.gallery-content {
  position: absolute;
  bottom: 0;
  text-align: start;
  z-index: 1;
  padding: 20px;
  @include max-767 {
    padding: 15px;
  }
}
.gallery-name {
  font-weight: 800;
  font-size: 20px;
  color: $text;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 25px;
  @include max-767 {
    font-size: 16px;
    height: 22px;
    margin-bottom: 8px;
  }
}
.gallery-desc {
  font-weight: 400;
  font-size: 15px;
  color: $text;
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 25px;
  @include max-767 {
    font-size: 14px;
    height: 21px;
  }
}
/*                       gallery-section                           */
/*                       video-section                           */
.video-section {
  margin-bottom: 132px;
  @include max-991 {
    margin-bottom: 60px;
  }
}
.video-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 60px;
  @include max-991 {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }
}
.video-item {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 87.94%
    );
  }
  figure {
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
    }
  }
  &:hover img,
  &:hover video {
    transform: scale(1.05);
  }
}

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  z-index: 3;
  background: linear-gradient(
      0deg,
      rgba(152, 122, 84, 0.6),
      rgba(152, 122, 84, 0.6)
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(152, 122, 84, 0.4), rgba(152, 122, 84, 0.4));
  border-radius: 50%;
  @include flexCenter;
  @include tr;
  font-size: 26px;
  color: $white;
  @include max-767 {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
.video-content {
  position: absolute;
  bottom: 0;
  text-align: start;
  z-index: 1;
  padding: 20px;
  @include max-767 {
    padding: 15px;
  }
}
.video-name {
  font-weight: 800;
  font-size: 20px;
  color: $text;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 25px;
  @include max-767 {
    font-size: 16px;
    height: 22px;
    margin-bottom: 8px;
  }
}
.video-desc {
  font-weight: 400;
  font-size: 15px;
  color: $text;
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 25px;
  @include max-767 {
    font-size: 14px;
    height: 21px;
  }
}
.video-item.custom-item {
  grid-column: 1/-1;

  .video-icon {
    width: 84px;
    height: 84px;
    font-size: 38px;
    @include max-767 {
      width: 40px;
      height: 40px;
      font-size: 20px;
    }
  }
  figure {
    aspect-ratio: 1280/609;
    min-height: 180px;
  }
  &::after {
    background: #00000033;
  }
  .video-content {
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(128, 102, 69, 0.5),
        rgba(128, 102, 69, 0.5)
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    padding: 27px 40px 20px;
    @include max-991 {
      padding: 25px 20px 20px;
    }
    @include max-767 {
      padding: 15px;
    }
  }
  .video-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .video-name {
    font-weight: 700;
    font-size: 24px;
    height: 29px;
    color: $white;
    @include max-767 {
      font-size: 16px;
      height: 22px;
    }
  }
  .video-desc {
    font-weight: 400;
    font-size: 16px;
    color: $white;
    -webkit-line-clamp: 2;
    height: 48.5px;
    max-width: 947px;
    @include max-767 {
      font-size: 14px;
      height: auto;
      -webkit-line-clamp: 1;
    }
  }
}
.video-length {
  font-weight: 700;
  font-size: 16px;
  color: $white;
  @include max-767 {
    display: none;
  }
}
/*                       video-section                           */
/*                       subscribe-section                           */
.subscribe-section {
  margin-bottom: 160px;
  @include max-991 {
    margin-bottom: 60px;
  }
}
.subscribe-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  @include min-1440 {
    gap: 120px;
  }
  @include max-991 {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}
.subscribe-content {
  padding-top: 50px;
  text-align: start;
  @include max-991 {
    padding-top: 0;
    text-align: center;
  }
}
.subscribe-head {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: $main;
  margin-bottom: 40px;
  @include max-991 {
    font-size: 28px;
    margin-bottom: 25px;
  }
}
.subscribe-pargh {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  // text-align: justify;
  color: $text;
  margin-bottom: 40px;
  @include max-991 {
    font-style: 16px;
    margin-bottom: 25px;
  }
}
.email-cont {
  position: relative;
}
.email-input {
  html[dir="rtl"] & {
    direction: rtl;
  }
  text-align: start;
  background-color: transparent;
  width: 100%;
  height: 52px;
  border-radius: 26px;
  padding: 0 27px;
  padding-inline-end: 65px;
  font-size: 18px;
  font-weight: 400;
  color: $text;
  border: 2px solid $text;
  outline: none;
  transition: all 0.3s ease-in-out;
  &::placeholder {
    color: $text;
  }
  &:focus {
    border-color: $main;
  }
}
.email-btn {
  position: absolute;
  inset-inline-end: 10px;
  top: 50%;
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
  color: $main;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: $text;
  font-size: 20px;
  @include flexCenter;
  outline: none !important;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $main;
    color: $text;
  }
  html[dir="ltr"] & {
    i {
      transform: scaleX(-1);
    }
  }
}
.subscribe-img {
  width: 100%;
  overflow: hidden;
  figure {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 599/728;
    position: relative;
    // background-color: $text;
    @include flexCenter;
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
/*                       subscribe-section                           */
